<template>
    <div id="app">

        <!-- <h1 v-text="message"></h1> -->
        <navbar></navbar>
        <div class="container">
            <router-view></router-view>
        </div>

    </div>
</template>

<script>
    import Navbar from './components/layouts/navbar.vue'

    export default {
        components: { Navbar },

        data() {
            return {
                // message: 'Welcome to Your Vue.js App'
            }
        }
    }
</script>
