<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Server Detail</div>
                        <div class="panel-body">
                            <div class="alert alert-danger" role="alert" v-if="showAlert">
                                {{ alertMessage }}
                            </div>

                            <div class="form-group row">
                                <label for="id" class="col-md-4 control-label">ID : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="id">{{ server.id }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-4 control-label">Name : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="name">{{ server.name }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="hostId" class="col-md-4 control-label">HostId : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="hostId">{{ server.hostId }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="config_drive" class="col-md-4 control-label">ConfigDrive : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="config_drive">{{ server.config_drive }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="key_name" class="col-md-4 control-label">KeyName : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="key_name">{{ server.key_name }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="progress" class="col-md-4 control-label">Progress : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="progress">{{ server.progress }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="status" class="col-md-4 control-label">Status : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="status">{{ server.status }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="tenant_id" class="col-md-4 control-label">TenantId : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="tenant_id">{{ server.tenant_id }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="user_id" class="col-md-4 control-label">UserId : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="user_id">{{ server.user_id }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="created" class="col-md-4 control-label">created : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="created">{{ server.created }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="updated" class="col-md-4 control-label">updated : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="updated">{{ server.updated }}</label>
                                </div>
                            </div>

                            <!--<div class="form-group">-->
                                <!--<div class="col-md-8 col-md-offset-4">-->
                                    <!--<button @click="goEdit" class="btn btn-primary">-->
                                        <!--Edit-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { http, ls } from '../../../services'

    export default {
        mounted () {

        },
        beforeRouteEnter (route, redirect, next) {
            next()
        },
        beforeRouteUpdate (to, from, next) {
            this.fetchServer(to.params.id)
            next()
        },
        beforeRouteLeave (to, from, next) {
            next()
        },
        created() {
            this.fetchServer(this.$route.params.id)
        },
        data() {
            return {
                server: [],
                changeFlg: false,
                showAlert: false,
                alertMessage: ''
            }
        },
        methods: {
            fetchServer(id) {
                const token = ls.get('jwt-token')
                if (token) {
                    http.get('servers/' + id, res => {
                        console.log(res.data.server)
                        this.server = res.data.server
                    })
                }
            }
        }
    }
</script>
