<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Servers Index</div>
                        <div class="panel-body">
                            <div class="alert alert-danger" role="alert" v-if="showAlert">
                                {{ alertMessage }}
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>id</th>
                                            <!--<th>links(self)</th>-->
                                            <!--<th>links(bookmark)</th>-->
                                            <th>name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(server, index) in servers">
                                        <td><router-link :to="{ name: 'servers-detail', params: { id: server.id }}">{{ index + 1 }}</router-link></td>
                                        <td>{{ server.id }}</td>
                                        <!--<td>{{ info.href_self }}</td>-->
                                        <!--<td>{{ info.href_bookmark }}</td>-->
                                        <td>{{ server.name }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { http, ls } from '../../../services'

    export default {
        mounted () {

        },
        beforeRouteEnter (route, redirect, next) {
            next()
        },
        beforeRouteUpdate (to, from, next) {
            next()
        },
        beforeRouteLeave (to, from, next) {
            next()
        },
        created() {
            this.fetchServers()
        },
        data() {
            return {
                servers: [],
                showAlert: false,
                alertMessage: ''
            }
        },
        methods: {
            fetchServers() {
                const token = ls.get('jwt-token')
                if (token) {
                    http.get('servers', res => {
                        console.log(res.data.servers)
                        this.servers = res.data.servers
                    })
                }
            }
        }
    }
</script>
