<template>
    <div>
        <p v-if="attempting">BitBucketでログインしています。</p>
        <p v-else>BitBucketでのログインに失敗しました。</p>
        <p>{{ failedMessage }}</p>
    </div>
</template>

<script>
    import { user } from '../../stores'

    export default {
        mounted () {
            this.$router.push('/')
        },
        beforeRouteEnter (route, redirect, next) {
            user.callback(route.query, res => {
            }, error => {
            });
            next()
        },
        beforeRouteUpdate (to, from, next) {
            next()
        },
        beforeRouteLeave (to, from, next) {
            next()
        },
        created() {

        },
        data() {
            return {
                failedMessage: ''
            }
        },
        methods: {
            attempting () {
                return !this.failedMessage
            }
        }
    }
</script>
