<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Login</div>
                        <div class="panel-body">
                            <div class="alert alert-danger" role="alert" v-if="showAlert">
                                {{ alertMessage }}
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 control-label">E-Mail Address</label>
                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control"
                                           v-model="email" @keyup.enter="login" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 control-label">Password</label>
                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control"
                                           v-model="password" @keyup.enter="login" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 col-md-offset-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember"> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-8 col-md-offset-4">
                                    <button @click="login" type="submit" class="btn btn-primary">
                                        Login
                                    </button>

                                    <a class="btn btn-link" href="#">
                                        Forgot Your Password?
                                    </a>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-8 col-md-offset-4">
                                    <router-link to="/login/bitbucket" class="btn btn-default">Login with Bitbucket</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                Users:
                <ul v-for="user in users">
                    <li>{{ user.name }} - {{ user.email }}</li>
                </ul>

                <p>Password is 'secret' (demo only)</p>
            </div>
        </div>
    </div>
</template>

<script>
    import { user } from '../../stores'

    export default {
        mounted () {

        },
        beforeRouteEnter (route, redirect, next) {
            next()
        },
        beforeRouteUpdate (to, from, next) {
            next()
        },
        beforeRouteLeave (to, from, next) {
            next()
        },
        created() {
            this.fetchUsers()
        },
        data() {
            return {
                email: 'peyton18@example.org',
                password: 'secret',
                showAlert: false,
                alertMessage: '',
                users: user.state.users
            }
        },
        methods: {
            login () {
                user.login(this.email, this.password, res => {
                    this.password = ''
                    this.$router.push('/')
                }, error => {
                    this.showAlert = true
                    this.alertMessage = 'Wrong email or password.'
                })
            },
            fetchUsers () {
                user.getUsers()
            }
        }
    }
</script>
