<template>
    <p>Bitbucketへリダイレクトしています...</p>
</template>

<script>
    import { http } from '../../services'

    export default {
        mounted () {

        },
        beforeRouteEnter (route, redirect, next) {
            next()
        },
        beforeRouteUpdate (to, from, next) {
            next()
        },
        beforeRouteLeave (to, from, next) {
            next()
        },
        created() {
            this.getRedirectUrl()
        },
        data() {
            return {

            }
        },
        methods: {
            getRedirectUrl () {
                http.get('login/bitbucket', res => {
                    console.log(res.data.redirect_url);
                    window.location.href = res.data.redirect_url
                })
            }
        }
    }
</script>
