<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Volume Detail</div>
                        <div class="panel-body">
                            <div class="alert alert-danger" role="alert" v-if="showAlert">
                                {{ alertMessage }}
                            </div>

                            <div class="form-group row">
                                <label for="id" class="col-md-4 control-label">ID : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="id">{{ volume.id }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-4 control-label">Name : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="name">{{ volume.name }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="availability_zone" class="col-md-4 control-label">AvailabilityZone : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="availability_zone">{{ volume.availability_zone }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="bootable" class="col-md-4 control-label">Bootable : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="bootable">{{ volume.bootable }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="consistencygroup_id" class="col-md-4 control-label">ConsistencygroupId : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="consistencygroup_id">{{ volume.consistencygroup_id }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="description" class="col-md-4 control-label">Description : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="description">{{ volume.description }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="encrypted" class="col-md-4 control-label">encrypted : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="encrypted">{{ volume.encrypted }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="size" class="col-md-4 control-label">size : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="size">{{ volume.size }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="snapshot_id" class="col-md-4 control-label">SnapshotId : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="snapshot_id">{{ volume.snapshot_id }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="source_volid" class="col-md-4 control-label">SourceVolid : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="source_volid">{{ volume.source_volid }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="status" class="col-md-4 control-label">status : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="status">{{ volume.status }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="volume_type" class="col-md-4 control-label">VolumeType : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="volume_type">{{ volume.volume_type }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="created_at" class="col-md-4 control-label">CreatedAt : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="created_at">{{ volume.created_at }}</label>
                                </div>
                            </div>

                            <!--<div class="form-group">-->
                                <!--<div class="col-md-8 col-md-offset-4">-->
                                    <!--<button @click="goEdit" class="btn btn-primary">-->
                                        <!--Edit-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { http, ls } from '../../../services'

    export default {
        mounted () {

        },
        beforeRouteEnter (route, redirect, next) {
            next()
        },
        beforeRouteUpdate (to, from, next) {
            this.fetchVolume(to.params.id)
            next()
        },
        beforeRouteLeave (to, from, next) {
            next()
        },
        created() {
            this.fetchVolume(this.$route.params.id)
        },
        data() {
            return {
                volume: [],
                showAlert: false,
                alertMessage: ''
            }
        },
        methods: {
            fetchVolume(id) {
                const token = ls.get('jwt-token')
                if (token) {
                    http.get('volumes/' + id, res => {
                        console.log(res.data.volume)
                        this.volume = res.data.volume
                    })
                }
            }
        }
    }
</script>
