<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Type Detail</div>
                        <div class="panel-body">
                            <div class="alert alert-danger" role="alert" v-if="showAlert">
                                {{ alertMessage }}
                            </div>

                            <div class="form-group row">
                                <label for="id" class="col-md-4 control-label">ID : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="id">{{ type.id }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-4 control-label">Name : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="name">{{ type.name }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { http, ls } from '../../../services'

    export default {
        mounted () {

        },
        beforeRouteEnter (route, redirect, next) {
            next()
        },
        beforeRouteUpdate (to, from, next) {
            this.fetchType(to.params.id)
            next()
        },
        beforeRouteLeave (to, from, next) {
            next()
        },
        created() {
            this.fetchType(this.$route.params.id)
        },
        data() {
            return {
                type: [],
                showAlert: false,
                alertMessage: ''
            }
        },
        methods: {
            fetchType(id) {
                const token = ls.get('jwt-token')
                if (token) {
                    http.get('types/' + id, res => {
                        console.log(res.data.volume_type)
                        this.type = res.data.volume_type
                    })
                }
            }
        }
    }
</script>
