<template>
    <nav class="navbar navbar-default">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <router-link to="/" class="navbar-brand">VPS Apps</router-link>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" v-if="userState.authenticated">
                    <li class="dropdown" v-if="userState.authenticated">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="true">
                            Compute
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><router-link to="/flavors">flavors</router-link></li>
                            <li><router-link to="/servers">servers</router-link></li>
                        </ul>
                    </li>
                    <li class="dropdown" v-if="userState.authenticated">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="true">
                            BlockStorage
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><router-link to="/types">types</router-link></li>
                            <li><router-link to="/volumes">volumes</router-link></li>
                        </ul>
                    </li>
                    <li class="dropdown" v-if="userState.authenticated">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="true">
                            ObjectStorage
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><router-link to="/">container</router-link></li>
                            <li><router-link to="/">object</router-link></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><router-link to="/about">About</router-link></li>

                    <li class="dropdown" v-if="userState.authenticated">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="true">
                            {{ userState.user.name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a @click="logout()">Log out</a></li>
                        </ul>
                    </li>
                    <li v-else>
                        <router-link to="/login">Log in</router-link>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
</template>

<script>
    import { user } from '../../stores'

    export default {
        mounted () {

        },
        beforeRouteEnter (route, redirect, next) {
            next()
        },
        beforeRouteUpdate (to, from, next) {
            next()
        },
        beforeRouteLeave (to, from, next) {
            next()
        },
        created() {
            this.init()
        },
        data () {
            return {
                userState: user.state
            }
        },
        methods: {
            init() {
                user.setCurrentUser()
                if (!user.state.authenticated) {
                    this.$router.push('/')
                }
            },
            logout() {
                user.logout( () => {
                    this.$router.push('/login')
                })
            }
        }
    }
</script>
