<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Flavor Detail</div>
                        <div class="panel-body">
                            <div class="alert alert-danger" role="alert" v-if="showAlert">
                                {{ alertMessage }}
                            </div>

                            <div class="form-group row">
                                <label for="id" class="col-md-4 control-label">ID : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="id">{{ flavor.id }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-4 control-label">Name : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="name">{{ flavor.name }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="disk" class="col-md-4 control-label">Disk : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="disk">{{ flavor.disk }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="ram" class="col-md-4 control-label">Ram : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="ram">{{ flavor.ram }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="rxtx" class="col-md-4 control-label">Rxtx_factor : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="rxtx">{{ flavor.rxtx_factor }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="swap" class="col-md-4 control-label">Swap : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="swap">{{ flavor.swap }}</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="vcpus" class="col-md-4 control-label">Vcpus : </label>
                                <div class="col-md-8">
                                    <label class="control-label" id="vcpus">{{ flavor.vcpus }}</label>
                                </div>
                            </div>

                            <!--<div class="form-group">-->
                                <!--<div class="col-md-8 col-md-offset-4">-->
                                    <!--<button @click="goEdit" class="btn btn-primary">-->
                                        <!--Edit-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { http, ls } from '../../../services'

    export default {
        mounted () {

        },
        beforeRouteEnter (route, redirect, next) {
            next()
        },
        beforeRouteUpdate (to, from, next) {
            this.fetchFlavor(to.params.id)
            next()
        },
        beforeRouteLeave (to, from, next) {
            next()
        },
        created() {
            this.fetchFlavor(this.$route.params.id)
        },
        data() {
            return {
                flavor: [],
                showAlert: false,
                alertMessage: ''
            }
        },
        methods: {
            fetchFlavor(id) {
                const token = ls.get('jwt-token')
                if (token) {
                    http.get('flavors/' + id, res => {
                        console.log(res.data.flavor)
                        this.flavor = res.data.flavor
                    })
                }
            }
        }
    }
</script>
