<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Flavors Index</div>
                        <div class="panel-body">
                            <div class="alert alert-danger" role="alert" v-if="showAlert">
                                {{ alertMessage }}
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>id</th>
                                            <!--<th>links(self)</th>-->
                                            <!--<th>links(bookmark)</th>-->
                                            <th>name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(flavor, index) in flavors">
                                        <td><router-link :to="{ name: 'flavors-detail', params: { id: flavor.id }}">{{ index + 1 }}</router-link></td>
                                        <td>{{ flavor.id }}</td>
                                        <!--<td>{{ info.href_self }}</td>-->
                                        <!--<td>{{ info.href_bookmark }}</td>-->
                                        <td>{{ flavor.name }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { http, ls } from '../../../services'

    export default {
        mounted () {

        },
        beforeRouteEnter (route, redirect, next) {
            // このコンポーネントを描画するルートが確立する前に呼ばれます.
            // `this` でのこのコンポーネントへのアクセスはできません.
            // なぜならばこのガードが呼び出される時にまだ作られていないからです!
            next(vm => {
                // `vm` を通じてコンポーネントインスタンスにアクセス
            })
        },
        beforeRouteUpdate (to, from, next) {
            // このコンポーネントを描画するルートが変更されたときに呼び出されますが、
            // このコンポーネントは新しいルートで再利用されます.
            // たとえば、動的な引数 /foo/:id を持つルートの場合、/foo/1 と /foo/2 の間を移動すると、
            // 同じ Foo コンポーネントインスタンスが再利用され、そのときにこのフックが呼び出されます.
            // `this` でコンポーネントインスタンスにアクセスできます.
            next()
        },
        beforeRouteLeave (to, from, next) {
            // このコンポーネントを描画するルートが間もなく
            // ナビゲーションから離れていく時に呼ばれます.
            // `this` でのコンポーネントインスタンスへのアクセスができます.
            next()
        },
        created() {
            this.fetchFlavors()
        },
        data() {
            return {
                flavors: [],
                showAlert: false,
                alertMessage: ''
            }
        },
        methods: {
            fetchFlavors() {
                const token = ls.get('jwt-token')
                if (token) {
                    http.get('flavors', res => {
                        console.log(res.data.flavors)
                        this.flavors = res.data.flavors
                    })
                }
            }
        }
    }
</script>
