<template>
    <div>
        <div v-for="user in users">
            <h1>
                <router-link :to="'/users/' + user.name">{{ user.name }}</router-link>
            </h1>
            <p>
                {{ user.email }}
            </p>
        </div>
    </div>
</template>

<script>
    import { user } from '../../stores'

    export default {
        mounted () {

        },
        beforeRouteEnter (route, redirect, next) {
            next()
        },
        beforeRouteUpdate (to, from, next) {
            next()
        },
        beforeRouteLeave (to, from, next) {
            next()
        },
        created() {
            this.fetchUsers()
        },
        data() {
            return {
                users: user.state.users
            }
        },
        methods: {
            fetchUsers() {
                user.getUsers()
            }
        }
    }
</script>
